/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Manrope', sans-serif; */
    font-family: Arial 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif
}

body {
    background-color: #88c1c7;
}


#section-lenguaje {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#section-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    height: 400px;
    padding-top: 50px;
}

div#section-contenido {
    background-color: white;
    border-radius: 50px;
}

#respuesta {
    display: block;
}

#boton-respuesta {
    display: block;
}

#simbolo {
    font-size: 3rem;
}